<div class="top-banner banner-medium contact-banner">

  <div class="title-banner active-title">
    <span class="title-text">
      <b>CONTACTO</b>
    </span>
  </div>

</div>

  <section class="quien">

    <div class="quien-top">
      <span class="title-contact">Contáctanos para poder atenderte de una manera más especializada</span>
    </div>

    <!-- Formulario de contacto -->
    <section class="content_contact">
      <form class="form">
        <input type="text" name="firstname" placeholder="Nombre:">

        <input type="email" name="email" required placeholder="Email:">

        <input type="tel" pattern="[0-9]*" inputmode="numeric" name="phone" placeholder="Teléfono:"  onkeypress='validate(event)'>
  	  	<p class="message_form"><textarea name="name" rows="8" cols="40" placeholder="Mensaje:"></textarea> </p>
        <input type="submit" value="ENVIAR" class="hvr-grow">
      </form>

      <div class="info_contact">
        <p class="info_text">
        Dirección #234 Col. Providencia <br>
        Guadalajara, Jalisco, México  C.P. 44069 <br><br>
        Tel. 33 44 77 33 - 33 77 22 88 <br><br>

        info@jacome.com <br>
        </p>
        <a href="" target="_blank" class="st01">
          <svg class="social_icon" version="1.1" id="icon-social" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 48.6 48.8" style="enable-background:new 0 0 48.6 48.8;" xml:space="preserve">
          <style type="text/css">
          	.st01{fill:#001c88;}
          </style>
          <g>
          	<g>
          		<g>
          			<path class="st01" d="M26.4,38.4h-5.6V24.9H18v-4.7h2.8v-2.8c0-3.8,1.6-6.1,6.1-6.1h3.7V16h-2.3c-1.8,0-1.9,0.7-1.9,1.9l0,2.3h4.2
          				l-0.5,4.7h-3.7V38.4z"/>
          		</g>
          	</g>
          	<g>
          		<path class="st01" d="M24.3,47.5c-12.4,0-22.6-10.1-22.6-22.6c0-12.4,10.1-22.6,22.6-22.6c12.4,0,22.6,10.1,22.6,22.6
          			C46.9,37.3,36.7,47.5,24.3,47.5z M24.3,4C12.8,4,3.4,13.4,3.4,24.9c0,11.5,9.4,20.9,20.9,20.9c11.5,0,20.9-9.4,20.9-20.9
          			C45.2,13.4,35.8,4,24.3,4z"/>
          	</g>
          </g>
          </svg>

        </a>
        <a href="" target="_blank" class="st01">
          <svg class="social_icon" version="1.1" id="icon-social" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 48.6 48.8" style="enable-background:new 0 0 48.6 48.8;" xml:space="preserve">
          <style type="text/css">
          	.st01{fill-rule:evenodd;clip-rule:evenodd;fill:#001c88;}
          	.st01{fill:#001c88;}
          </style>
          <g>
          	<g>
          		<path class="st01" d="M23.8,21.5c1-3.1,2.2-5.1,3.6-6.5c1-1.1,1.6-1.4,1-0.2c0.3-0.2,0.7-0.5,0.9-0.7c1.7-0.8,1.6-0.1,0.4,0.6
          			c3.2-1.1,3,0.3-0.3,1c2.7,0.1,5.6,1.8,6.5,5.5c0.1,0.5,0,0.5,0.5,0.6c1.1,0.2,2.2,0.2,3.2-0.1c-0.1,0.8-1.1,1.3-2.7,1.6
          			c-0.6,0.1-0.7,0.1,0,0.2c0.9,0.2,1.8,0.2,2.8,0.2c-0.8,0.9-2.1,1.4-3.6,1.4c-1,3.6-3.2,6.1-6,7.7c-6.6,3.8-16.3,3.2-21.1-3.6
          			c3.2,2.5,7.9,3,11.4-0.4c-2.3,0-2.9-1.7-1.1-2.6c-1.7,0-2.8-0.6-3.5-1.5c-0.2-0.4-0.2-0.4,0.1-0.7c0.4-0.3,1-0.5,1.6-0.5
          			c-1.8-0.5-2.9-1.4-3.2-2.7c-0.1-0.4-0.1-0.4,0.3-0.5c0.4-0.1,0.9-0.2,1.4-0.2c-1.4-0.8-2.2-1.9-2.4-3c-0.2-1.1,0-0.8,0.8-0.5
          			C18,17.8,21.7,19.3,23.8,21.5L23.8,21.5z"/>
          	</g>
          	<g>
          		<path class="st01" d="M24.3,48.1c-13.1,0-23.7-10.6-23.7-23.7c0-13.1,10.6-23.7,23.7-23.7C37.4,0.7,48,11.3,48,24.4
          			C48,37.4,37.4,48.1,24.3,48.1z M24.3,2.4c-12.1,0-21.9,9.8-21.9,21.9c0,12.1,9.8,21.9,21.9,21.9c12.1,0,21.9-9.8,21.9-21.9
          			C46.3,12.3,36.4,2.4,24.3,2.4z"/>
          	</g>
          </g>
          </svg>

        </a>
        <a href="" target="_blank" class="st01">
          <svg class="social_icon" version="1.1" id="icon-social" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 48.6 48.8" style="enable-background:new 0 0 48.6 48.8;" xml:space="preserve">
          <style type="text/css">
          	.st01{fill:#001c88;}
            .st01:hover .st01{ fill: #C22821;}
            a.st01{display: inline-block;}
            svg#icon-social{ transition: .3s}
            .st01:hover svg#icon-social {display: block;transform: scale(1.2);}
          </style>
          <g>
          	<g>
          		<path class="st01" d="M33.9,12.3H15.5c-1.6,0-2.9,1.3-2.9,2.9v18.5c0,1.6,1.3,2.9,2.9,2.9h18.5c1.6,0,2.9-1.3,2.9-2.9V15.1
          			C36.8,13.5,35.5,12.3,33.9,12.3z M29.4,15.7c0-0.4,0.3-0.7,0.7-0.7h3.3c0.4,0,0.7,0.3,0.7,0.7V19c0,0.4-0.3,0.7-0.7,0.7h-3.3
          			c-0.4,0-0.7-0.3-0.7-0.7V15.7z M24.7,19.7c2.6,0,4.7,2.1,4.7,4.6c0,2.6-2.1,4.6-4.7,4.6c-2.6,0-4.7-2.1-4.7-4.6
          			C20.1,21.8,22.2,19.7,24.7,19.7z M34.1,33c0,0.4-0.3,0.7-0.7,0.7H16.1c-0.4,0-0.7-0.3-0.7-0.7V22.4h2.3c-0.2,0.6-0.3,1.3-0.3,1.9
          			c0,4.1,3.3,7.3,7.4,7.3c4.1,0,7.4-3.3,7.4-7.3c0-0.7-0.1-1.3-0.3-1.9h2.3V33z"/>
          	</g>
          	<g>
          		<path class="st01" d="M24.3,47.8c-12.9,0-23.4-10.5-23.4-23.4c0-12.9,10.5-23.4,23.4-23.4c12.9,0,23.4,10.5,23.4,23.4
          			C47.8,37.3,37.2,47.8,24.3,47.8z M24.3,2.7c-12,0-21.7,9.7-21.7,21.7c0,12,9.7,21.7,21.7,21.7c12,0,21.7-9.7,21.7-21.7
          			C46,12.4,36.3,2.7,24.3,2.7z"/>
          	</g>
          </g>
          </svg>

        </a>
      </div>
    </section>

    <!-- Google Maps -->
    <section class="map">
      <ng-map center="[40.74, -74.18]" class="map" scrollwheel="false" draggable="false"></ng-map>
    </section>
