<div class="top-banner banner-medium cotizador-banner">

  <div class="title-banner active-title">
    <span class="title-text">
      <b>COTIZADOR</b>
    </span>
  </div>

</div>

  <section class="quien">

    <div class="quien-top">
      <span class="title-contact">Contáctanos para poder cotizar los mejores productos que te interesan.</span>
    </div>

    <!-- Formulario de contacto -->
    <section class="content_contact cotizador-wrapper">
      <form class="form-cotiza">
        <input type="text" name="firstname" placeholder="Nombre:">

        <input type="tel" pattern="[0-9]*" inputmode="numeric" name="phone" placeholder="Teléfono:"  onkeypress='validate(event)'>

        <input type="email" name="email" required placeholder="Email:">

        <input type="text" name="firstname" placeholder="Compañia:">

        <select class="cotiza-select" placeholder="Tipo de producto">
          <option value="volvo" selected="true" disabled="disabled">Categoría</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>

        <input type="text" name="medidas" placeholder="Medidas:" >

        <input type="text" name="phone" placeholder="Cantidad:">


        <select class="cotiza-select" placeholder="Acabado">
          <option value="volvo" selected="true" disabled="disabled">Tipo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>

  	  	<p class="message_form cotiza-message"><textarea name="name" rows="8" cols="40" placeholder="Mensaje:"></textarea> </p>

        <input type="submit" value="ENVIAR" class="hvr-grow">
      </form>
    </section>


<style media="screen">
  form.form-cotiza {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  form.form-cotiza input[type=text], input[type=tel], input[type=email],select.cotiza-select {
    display: block;
    margin: 0;
    width: 46% ;
    padding: .6vw .5vw;
    font-size: 18px;
    margin: 1vw .5% 1vw 0;
    box-shadow: none;
    border-radius: 0;
    border: 2px solid #001c88;
    color: #001c88;
  }
  form.form-cotiza input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus,select.cotiza-select:focus {
    outline: none;
    box-shadow: inset 3px 3px 3px 0 #c9c9c9;
    border-radius: 0;
  }
  select.cotiza-select {
    width: 47.7%;
    border-radius: 0 !important;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }
  textarea{
    width: 94.5%;
    margin: 1.5vw 0
  }
  input[type=submit]{
    margin: 2vw 0;
    margin-left: auto;
    margin-right: 3.3%
  }

  @media (max-width: 768px) {
    form.form-cotiza input[type=text], input[type=tel], input[type=email],select.cotiza-select,textarea{
      width: 95%;
      margin: 2vw 0;
      margin-left: 2.5%;
      padding: 0.6vw 0.5vw;
    }
    select.cotiza-select{
      width: 96.8%;
      margin: none;
      padding: 0.6vw 0.5vw;
    }
    input[type=submit]{
      margin-left:auto;
      margin-right: .5%
    }
    .content_contact.cotizador-wrapper{
      flex-direction: column;
      width: 90%;
    }
  }
</style>

<script type="text/javascript">
//Valida numeros solamente en input de telefono
function validate(e){var t=e||window.event,r=t.keyCode||t.which;r=String.fromCharCode(r);var a=/[0-9]|\./;a.test(r)||(t.returnValue=!1,t.preventDefault&&t.preventDefault())}
</script>
