<div class="top-banner banner-medium equipment-banner">

  <div class="title-banner active-title">
    <span class="title-text">
      <b>EQUIPOS</b>
    </span>
  </div>

</div>


<div class="quien-top">
  <span class="title-contact">Conoce los mejores equipos de etiquetado y cintas adhesivas en el estado de Jalisco.</span>
</div>


<div class="equipos-section">
  <div class="equipos-wrapper">
    <div class="equipo-item">
      <img src="img/banner-1-01.png"  />
      <div class="equipo-title">DESPACHADORES DE CINTA</div>
      <div class="ver-mas-wrapper">
        <span class="ver-mas">VER MÁS</span>
      </div>
    </div>

    <div class="equipo-item">
      <img src="img/banner-1-01.png"  />
      <div class="equipo-title">DESPACHADORES DE CINTA</div>
      <div class="ver-mas-wrapper">
        <span class="ver-mas">VER MÁS</span>
      </div>
    </div>

    <div class="equipo-item">
      <img src="img/banner-1-01.png"  />
      <div class="equipo-title">DESPACHADORES DE CINTA</div>
      <div class="ver-mas-wrapper">
        <span class="ver-mas">VER MÁS</span>
      </div>
    </div>

  </div>

  <div class="equipos-modal hide-modal">
    <div class="img-modal">
      <img src="img/product-01-01.png">
    </div>

    <div class="info-modal">
      <span class="title-modal">
        IMPRESORAS DE TRANSFERENCIA TÉRMICA
      </span>

      <p class="description-modal">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt <br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt <br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
      </p>
    </div>

    <div class="close-modal">
      <span class="close-icon-modal">X</span>
    </div>
  </div>

</div>

<div class="button-bottom">
  <p class="button-copy">
    Nosotros somos Jacome el mejor servicio  <br>de etiquetado en Jalisco.
  </p>

  <a href="/#/contacto">
    <span class="button-jacome">CONTÁCTANOS</span>
  </a>
</div>
