<div class="product-wrapper">
  <div class="categories-list-wrapper">
    <ul class="categories-list">

      <li class="category-item">
        <div class="category-name">
          <span class="category-name-title">Impresas</span>
           <span class="icon-category downside-icon"></span>
        </div>
        <ul class="sub-list">
          <li class="sub-item hide-category"><a href="">sub categoría 1</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 2</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 3</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 4</a></li>
        </ul>
      </li>

      <li class="category-item">
        <div class="category-name">
          <span class="category-name-title">Señaletica</span>
          <span class="icon-category downside-icon"></span>
        </div>
        <ul class="sub-list">
          <li class="sub-item hide-category"><a href="">sub categoría 1</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 2</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 3</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 4</a></li>
        </ul>
      </li>

      <li class="category-item">
        <div class="category-name">
          <span class="category-name-title">Cintas</span>
          <span class="icon-category downside-icon"></span>
        </div>
        <ul class="sub-list">
          <li class="sub-item hide-category"><a href="">sub categoría 1</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 2</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 3</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 4</a></li>
        </ul>
      </li>

      <li class="category-item">
        <div class="category-name">
          <span class="category-name-title">Especiales</span>
          <span class="icon-category downside-icon"></span>
        </div>
        <ul class="sub-list">
          <li class="sub-item hide-category"><a href="">sub categoría 1</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 2</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 3</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 4</a></li>
        </ul>
      </li>

      <li class="category-item">
        <div class="category-name">
          <span class="category-name-title">Impresas</span>
           <span class="icon-category downside-icon"></span>
        </div>
        <ul class="sub-list">
          <li class="sub-item hide-category"><a href="">sub categoría 1</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 2</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 3</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 4</a></li>
        </ul>
      </li>

      <li class="category-item">
        <div class="category-name">
          <span class="category-name-title">Señaletica</span>
          <span class="icon-category downside-icon"></span>
        </div>
        <ul class="sub-list">
          <li class="sub-item hide-category"><a href="">sub categoría 1</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 2</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 3</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 4</a></li>
        </ul>
      </li>

      <li class="category-item">
        <div class="category-name">
          <span class="category-name-title">Cintas</span>
          <span class="icon-category downside-icon"></span>
        </div>
        <ul class="sub-list">
          <li class="sub-item hide-category"><a href="">sub categoría 1</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 2</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 3</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 4</a></li>
        </ul>
      </li>

      <li class="category-item">
        <div class="category-name">
          <span class="category-name-title">Especiales</span>
          <span class="icon-category downside-icon"></span>
        </div>
        <ul class="sub-list">
          <li class="sub-item hide-category"><a href="">sub categoría 1</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 2</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 3</a></li>
          <li class="sub-item hide-category"><a href="">sub categoría 4</a></li>
        </ul>
      </li>


    </ul>
  </div>

  <div class="products-slide">
    <div class="swiper-container">
        <div class="swiper-wrapper">

          <div class="swiper-slide" onclick="location.href='/#/productos/product-item'">
            <img src="img/product-01-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <div class="filter"></div>
          </div>

          <div class="swiper-slide" onclick="location.href='/#/productos/product-item'">
            <a href="/#/productItem">
              <img src="img/product-02-01.png">
            </a>
            <span class="slider-name">el nombre de un producto</span>
            <div class="filter"></div>
          </div>

          <div class="swiper-slide" onclick="location.href='/#/productos/product-item'">
            <a href="/#/productItem">
              <img src="img/product-03-01.png">
            </a>
            <span class="slider-name">el nombre de un producto</span>
            <div class="filter"></div>
          </div>

          <div class="swiper-slide" onclick="location.href='/#/productos/product-item'">
            <a href="/#/productItem">
              <img src="img/product-04-01.png">
            </a>
            <span class="slider-name">el nombre de un producto</span>
            <div class="filter"></div>
          </div>

          <div class="swiper-slide" onclick="location.href='/#/productos/product-item'">
            <a href="/#/productItem">
              <img src="img/product-05-01.png">
            </a>
            <span class="slider-name">el nombre de un producto</span>
            <div class="filter"></div>
          </div>

          <div class="swiper-slide" onclick="location.href='/#/productos/product-item'">
            <a href="/#/productItem">
              <img src="img/product-01-01.png">
            </a>
            <span class="slider-name">el nombre de un producto</span>
            <div class="filter"></div>
          </div>

          <div class="swiper-slide" onclick="location.href='/#/productos/product-item'">
            <a href="/#/productItem">
              <img src="img/product-02-01.png">
            </a>
            <span class="slider-name">el nombre de un producto</span>
            <div class="filter"></div>
          </div>

          <div class="swiper-slide" onclick="location.href='/#/productos/product-item'">
            <a href="/#/productItem">
              <img src="img/product-03-01.png">
            </a>
            <span class="slider-name">el nombre de un producto</span>
            <div class="filter"></div>
          </div>

          <div class="swiper-slide" onclick="location.href='/#/productos/product-item'">
            <a href="/#/productItem">
              <img src="img/product-04-01.png">
            </a>
            <span class="slider-name">el nombre de un producto</span>
            <div class="filter"></div>
          </div>

          <div class="swiper-slide" onclick="location.href='/#/productos/product-item'">
            <a href="/#/productItem">
              <img src="img/product-05-01.png">
            </a>
            <span class="slider-name">el nombre de un producto</span>
            <div class="filter"></div>
          </div>



        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
  </div>

</div>
