<div class="item-description-wrapper">
  <div class="description-item-wrapper">
    <div class="title-item">
      IMPRESORA 1 - 23" AUTOMÁTICA IUGREW
    </div>
    <div class="description-item">
      La más alta calidad de imagen, a un excelente
      precio. Los televisores Insignia están fabricados
      bajo estrictas normas de calidad que garantizan
      su perfecto funcionamineto y durabilidad.
      La más alta calidad de imagen, a un excelente
      precio. Los televisores Insignia están fabricados
      bajo estrictas normas de calidad que garantizan
      su perfecto funcionamineto y durabilidad.
      <br><br>
      La más alta calidad de imagen, a un excelente
      precio. Los televisores Insignia están fabricados
      bajo estrictas normas de calidad que garantizan
      su perfecto funcionamineto y durabilidad.
    </div>
  </div>

  <div class="slider-item">
    <div class="swiper-container swiper-small">
       <div class="swiper-wrapper">
         <div class="swiper-slide small-item">
           <img src="img/product-04-01.png">
         </div>
         <div class="swiper-slide small-item">
           <img src="img/product-01-01.png">
         </div>
         <div class="swiper-slide small-item">
           <img src="img/product-02-01.png">
         </div>
         <div class="swiper-slide small-item">
           <img src="img/product-03-01.png">
         </div>
       </div>
    <div class="swiper-pagination small-pagination"></div>
   </div>
  </div>
</div>


<div class="table-descripcion-wrapper">
  <div class="title-table">
    Información Adicional<span class="icon-category downside-icon"></span>
  </div>

  <br>

  <div class="table-wrapper">
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
    <div class="row-table">
      <span class="table-item">AN ITEM</span>
      <span class="table-item">AN ITEM</span>
    </div>
  </div>

</div>




<div class="title-similar-products">
  <span class="title">PRODUCTOS RELACIONADOS</span>
</div>

<div class="similar-products">
  <div class="swiper-slide similar-product-item" onclick="location.href='/#/productos/product-item'">
    <a href="/#/productItem">
      <img src="img/product-03-01.png">
    </a>
    <span class="slider-name">el nombre de un producto</span>
    <div class="filter"></div>
  </div>

  <div class="swiper-slide similar-product-item" onclick="location.href='/#/productos/product-item'">
    <a href="/#/productItem">
      <img src="img/product-04-01.png">
    </a>
    <span class="slider-name">el nombre de un producto</span>
    <div class="filter"></div>
  </div>

  <div class="swiper-slide similar-product-item" onclick="location.href='/#/productos/product-item'">
    <a href="/#/productItem">
      <img src="img/product-05-01.png">
    </a>
    <span class="slider-name">el nombre de un producto</span>
    <div class="filter"></div>
  </div>
</div>
