<div class="top-banner banner-medium productos-banner" >
  <div class="title-banner active-title">
    <span class="title-text">
      <b>PRODUCTOS</b>
    </span>
  </div>
</div>

<div class="product-wrapper">
  <div class="categories-list-wrapper" ng-controller="itemSelectedCheckController">
    <ul class="categories-list">

      <li class="category-item" >
        <a href="#/productos/impresas" class="category-name">
          <div class="">
            <span class="category-name-title">Impresas</span><span>&nbsp;&nbsp;</span>
             <span class="icon-category" ng-class="{'upside-icon':itemSelected==='impresas', 'downside-icon':itemSelected!='impresas'}"></span>
          </div>
        </a>

        <ul class="sub-list">
          <a href="#/productos/impresas/subcategoria1">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='impresas', 'hide-category':itemSelected!='impresas'}">
              sub categoría 1
            </li>
          </a>

          <a href="#/productos/impresas/subcategoria2">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='impresas', 'hide-category':itemSelected!='impresas'}">
              sub categoría 2
            </li>
          </a>

          <a href="#/productos/impresas/subcategoria3">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='impresas', 'hide-category':itemSelected!='impresas'}">
              sub categoría 3
            </li>
          </a>

          <a href="#/productos/impresas/subcategoria4">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='impresas', 'hide-category':itemSelected!='impresas'}">
              sub categoría 4
            </li>
          </a>



        </ul>
      </li>

      <li class="category-item" >
        <a href="#/productos/senaletica" class="category-name">
          <div class="">
            <span class="category-name-title">Senaletica</span><span>&nbsp;&nbsp;</span>
             <span class="icon-category" ng-class="{'upside-icon':itemSelected==='senaletica', 'downside-icon':itemSelected!='senaletica'}"></span>
          </div>
        </a>

        <ul class="sub-list">
          <a href="#/productos/senaletica/subcategoria1">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='senaletica', 'hide-category':itemSelected!='senaletica'}">
              sub categoría 1
            </li>
          </a>

          <a href="#/productos/senaletica/subcategoria2">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='senaletica', 'hide-category':itemSelected!='senaletica'}">
              sub categoría 2
            </li>
          </a>

          <a href="#/productos/senaletica/subcategoria3">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='senaletica', 'hide-category':itemSelected!='senaletica'}">
              sub categoría 3
            </li>
          </a>

          <a href="#/productos/senaletica/subcategoria4">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='senaletica', 'hide-category':itemSelected!='senaletica'}">
              sub categoría 4
            </li>
          </a>



        </ul>
      </li>

      <li class="category-item" >
        <a href="#/productos/cintas" class="category-name">
          <div class="">
            <span class="category-name-title">Cintas</span><span>&nbsp;&nbsp;</span>
             <span class="icon-category" ng-class="{'upside-icon':itemSelected==='cintas', 'downside-icon':itemSelected!='cintas'}"></span>
          </div>
        </a>

        <ul class="sub-list">
          <a href="#/productos/cintas/subcategoria1">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='cintas', 'hide-category':itemSelected!='cintas'}">
              sub categoría 1
            </li>
          </a>

          <a href="#/productos/cintas/subcategoria2">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='cintas', 'hide-category':itemSelected!='cintas'}">
              sub categoría 2
            </li>
          </a>

          <a href="#/productos/cintas/subcategoria3">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='cintas', 'hide-category':itemSelected!='cintas'}">
              sub categoría 3
            </li>
          </a>

          <a href="#/productos/cintas/subcategoria4">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='cintas', 'hide-category':itemSelected!='cintas'}">
              sub categoría 4
            </li>
          </a>



        </ul>
      </li>

      <li class="category-item" >
        <a href="#/productos/especiales" class="category-name">
          <div class="">
            <span class="category-name-title">Especiales</span><span>&nbsp;&nbsp;</span>
             <span class="icon-category" ng-class="{'upside-icon':itemSelected==='especiales', 'downside-icon':itemSelected!='especiales'}"></span>
          </div>
        </a>

        <ul class="sub-list">
          <a href="#/productos/especiales/subcategoria1">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='especiales', 'hide-category':itemSelected!='especiales'}">
              sub categoría 1
            </li>
          </a>

          <a href="#/productos/especiales/subcategoria2">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='especiales', 'hide-category':itemSelected!='especiales'}">
              sub categoría 2
            </li>
          </a>

          <a href="#/productos/especiales/subcategoria3">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='especiales', 'hide-category':itemSelected!='especiales'}">
              sub categoría 3
            </li>
          </a>

          <a href="#/productos/especiales/subcategoria4">
            <li class="sub-item" ng-class="{'show-category':itemSelected==='especiales', 'hide-category':itemSelected!='especiales'}">
              sub categoría 4
            </li>
          </a>



        </ul>
      </li>

    </ul>
  </div>

  <div class="products-slide">
    <div class="swiper-container">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <img src="img/product-01-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

          <div class="swiper-slide">
            <img src="img/product-02-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

          <div class="swiper-slide">
            <img src="img/product-03-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

          <div class="swiper-slide">
            <img src="img/product-04-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

          <div class="swiper-slide">
            <img src="img/product-05-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

          <div class="swiper-slide">
            <img src="img/product-01-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

          <div class="swiper-slide">
            <img src="img/product-02-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

          <div class="swiper-slide">
            <img src="img/product-03-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

          <div class="swiper-slide">
            <img src="img/product-04-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

          <div class="swiper-slide">
            <img src="img/product-05-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

          <div class="swiper-slide">
            <img src="img/product-01-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

          <div class="swiper-slide">
            <img src="img/product-02-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

          <div class="swiper-slide">
            <img src="img/product-03-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

          <div class="swiper-slide">
            <img src="img/product-04-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

          <div class="swiper-slide">
            <img src="img/product-05-01.png">
            <span class="slider-name">el nombre de un producto</span>
            <a href="/#/product-item">
              <div class="filter"></div>
            </a>
          </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
  </div>

</div>
