<div class="item-description-wrapper">
  <div class="description-item-wrapper">

    <!-- titulo del producto -->
    <div class="title-item">
      IMPRESORA 1 - 23" AUTOMÁTICA IUGREW
    </div>
    <!-- descripción del producto  -->
    <div class="description-item">
      La más alta calidad de imagen, a un excelente
      precio. Los televisores Insignia están fabricados
      bajo estrictas normas de calidad que garantizan
      su perfecto funcionamineto y durabilidad.
      La más alta calidad de imagen, a un excelente
      precio. Los televisores Insignia están fabricados
      bajo estrictas normas de calidad que garantizan
      su perfecto funcionamineto y durabilidad.
      <br><br>
      La más alta calidad de imagen, a un excelente
      precio. Los televisores Insignia están fabricados
      bajo estrictas normas de calidad que garantizan
      su perfecto funcionamineto y durabilidad.
    </div>

  </div>

  <div class="slider-item">
    <div class="swiper-container swiper-small">
       <div class="swiper-wrapper">

         <!-- Slide -->
         <div class="swiper-slide small-item">
           <img src="img/product-04-01.png">
         </div>
         <!-- Slide -->
         <div class="swiper-slide small-item">
           <img src="img/product-01-01.png">
         </div>
         <!-- Slide -->
         <div class="swiper-slide small-item">
           <img src="img/product-02-01.png">
         </div>
         <!-- Slide -->
         <div class="swiper-slide small-item">
           <img src="img/product-03-01.png">
         </div>

       </div>
    <!-- Paginacion  -->
    <div class="swiper-pagination small-pagination"></div>
   </div>
  </div>
</div>


<div class="table-descripcion-wrapper">
  <div class="title-table">
    Información Adicional <span class="icon-item icon-category downside-icon"></span>
  </div>

  <br>

  <!-- Tabla de especificaciones  -->
  <div class="table-wrapper hidden-table">
    <!-- Fila de la tabla  -->
    <div class="row-table">
      <!-- Especificacion izquierda -->
      <span class="table-item">AN ITEM</span>
      <!-- Especificacion derecha -->
      <span class="table-item">AN ITEM</span>
    </div>

    <div class="row-table">
      <!-- Especificacion izquierda -->
      <span class="table-item">AN ITEM</span>
      <!-- Especificacion derecha -->
      <span class="table-item">AN ITEM</span>
    </div>

    <div class="row-table">
      <!-- Especificacion izquierda -->
      <span class="table-item">AN ITEM</span>
      <!-- Especificacion derecha -->
      <span class="table-item">AN ITEM</span>
    </div>

    <div class="row-table">
      <!-- Especificacion izquierda -->
      <span class="table-item">AN ITEM</span>
      <!-- Especificacion derecha -->
      <span class="table-item">AN ITEM</span>
    </div>

    <div class="row-table">
      <!-- Especificacion izquierda -->
      <span class="table-item">AN ITEM</span>
      <!-- Especificacion derecha -->
      <span class="table-item">AN ITEM</span>
    </div>

    <div class="row-table">
      <!-- Especificacion izquierda -->
      <span class="table-item">AN ITEM</span>
      <!-- Especificacion derecha -->
      <span class="table-item">AN ITEM</span>
    </div>

    <div class="row-table">
      <!-- Especificacion izquierda -->
      <span class="table-item">AN ITEM</span>
      <!-- Especificacion derecha -->
      <span class="table-item">AN ITEM</span>
    </div>

    <div class="row-table">
      <!-- Especificacion izquierda -->
      <span class="table-item">AN ITEM</span>
      <!-- Especificacion derecha -->
      <span class="table-item">AN ITEM</span>
    </div>

  </div>

</div>


<div class="title-similar-products">
  <span class="title">PRODUCTOS RELACIONADOS</span>
</div>

<!-- contenedor productos relacionados  -->
<div class="similar-products">

  <!-- producto relacionado  -->
  <div class="swiper-slide similar-product-item">
    <img src="img/product-03-01.png">
    <span class="slider-name">el nombre de un producto</span>
    <a href="/#/productItem">
      <div class="filter"></div>
    </a>
  </div>

  <!-- producto relacionado  -->
  <div class="swiper-slide similar-product-item">
    <img src="img/product-02-01.png">
    <span class="slider-name">el nombre de un producto</span>
    <a href="/#/productItem">
      <div class="filter"></div>
    </a>
  </div>

  <!-- producto relacionado  -->
  <div class="swiper-slide similar-product-item">
    <img src="img/product-01-01.png">
    <span class="slider-name">el nombre de un producto</span>
    <a href="/#/productItem">
      <div class="filter"></div>
    </a>
  </div>


<style media="screen">
span.icon-item.icon-category{
color: #00f;
position: relative;
right: 0;
left: 0;
top: 0;
bottom: 0;
font-size: 10px;}
</style>
