.button-bottom
  width: 40%;
  margin: 2vw auto;
  border-top: 2px solid #001c88

p.button-copy
  width: 80%;
  margin: 0 auto;
  padding: 21px 0;
  text-align: center;
  color: #001c88

span.button-jacome
  padding: 1vw;
  border: 2px solid #001c88;
  color: #001c88;
  cursor: pointer;
  text-decoration: none;
  display: block;
  transition: .3s;
  width: 205px;
  margin: 0 auto;
  margin-top: 1vw;
  margin-bottom: 3vw;
  text-align: center;

span.button-jacome:hover
  color: #fff;
  background-color: #001c88;

span.button-jacome:active
  color: #fff;
  background-color: #001c88;
  -webkit-transform: scale(.9);
  transform: scale(.9);

@media(max-width 1024px)
  .button-bottom
    width: 50%

  span.button-jacome
    padding: 2vw;

@media(max-width 768px)
  .button-bottom
    width: 60%

  span.button-jacome
    padding: 3vw;

@media(max-width 640px)
  .button-bottom
    width: 70%

  span.button-jacome
    padding: 4vw;

@media(max-width 480px)
  .button-bottom
    width: 80%

@media(max-width 320px)
  .button-bottom
    width: 90%
