/* contact */

.content_contact
  width 60%
  height auto
  margin: 0 auto
  padding 3vw 0 3vw 0
  display -webkit-box
  display flex
  -webkit-flex-direction row
  flex-direction row
  -webkit-justify-content space-around
  justify-content space-around
  align-items center

form.form
  width 35%

input[type=tel], input[type=email], input[type=text]
  outline none
  border-radius 0

input[type=tel]:focus, input[type=email]:focus, input[type=text]:focus
  outline none
  box-shadow inset 3px 3px 3px 0 #c9c9c9
  border-radius 0

input[type="text"]:focus
  outline none
  box-shadow inset 3px 3px 3px 0 #c9c9c9
  border-radius 0

input[type="text"],input[type="tel"],input[type="email"]
  display block
  margin 0
  width 100%
  padding .6vw .5vw
  margin 1.5vw 0
  font-size 18px
  appearance none
  box-shadow none
  border-radius none
  border 2px solid #001c88
  color #001c88
  border-image-slice: 1;
  border-radius 0

input[type="text"].hvr-grow
  display block
  margin 0
  width 100%
  padding 1.6vw 0 1.6vw 0
  font-size 18px
  appearance none
  box-shadow none
  border-radius none
  border-radius 0

.message_form
  width 100%
  height auto
  border 0
  padding 0vw 0 0 0
  margin: 0

textarea
  outline none
  width 100%
  border 0
  margin 0
  padding .6vw .5vw
  font-size 18px
  resize none
  border 2px solid #001c88
  color #001c88
  border-image-slice: 1;
  margin-bottom 1vw
  border-radius 0

textarea:focus
  outline none
  box-shadow inset 3px 3px 3px 0 #c9c9c9

input[type="submit"]
  float right
  display block
  margin 0
  width auto
  height auto
  padding 1vw 2vw
  background-color #fff
  color #001c88;
  font-size 16px
  border 2px solid #001c88;
  margin-right -6.2%
  transition: .3s
  cursor: pointer;
  border-radius 0

input[type="submit"]:hover
  color: #fff;
  background-color: #001c88;

input[type="submit"]:active
  color: #fff;
  background-color: #001c88;
  -webkit-transform: scale(.9);
  transform: scale(.9);

.info_contact
  color #001c88

p.info_text
  width 100%
  margin-top 0

.social_icon
  width 30px

::-webkit-input-placeholder,:-ms-input-placeholder,:-moz-placeholder,::-moz-placeholder
 color: #001c88
 padding-left .5vw

 /* Google Maps API */
 .map
   width 100%
   height 30vw

.quien-top
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 29px;
  padding: 2vw 0;
  color #001c88

select.cotiza-select
  background-image: url('/img/triangle.jpg');
  background-size: 14px;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 45%;

 /* media queries */
@media (min-width 1920px)
  p.info_text
    font-size 24px

@media (max-width 1920px)
   p.info_text
     font-size 24px

@media (max-width 1366px)
  p.info_text
    font-size 20px

@media (max-width 1024px)
  .content_contact
    width 75%

  p.info_text
    font-size 18px

  .quien-top
    width 90%
    margin 0 auto
    padding: 5vw 0

@media (max-width 768px)
  .content_contact
    flex-direction column
    width 100%

  input[type="submit"]
    margin 0 -3% 0 0

  .info_contact
    margin 0
    padding-top 3vw

  form.form
    width 80%

  p
    font-size 16px

  .map
    height 55vw

  .quien-top
    width 80%
    margin 0 auto
    padding-bottom: 0

  input[type="text"],input[type="tel"],input[type="email"]
    margin 3vw 0
@media (max-width 640px)

  form.form
    width 85%

  input[type="submit"]
    padding 2vw 2.5vw
    margin-right -2.5%

  .map
    height 60vw

  .quien-top
    font-size: 24px
    width 95%

@media (max-width 480px)
  form.form
    width 90%

  .map
    height 65vw

  .quien-top
    font-size: 16px


  .info_contact
    width: 70%;
    margin: 0 auto;

@media (max-width 320px)

  p
    font-size 14.3px

  p.info_text
    font-size: 16px

  .map
    height 70vw

  .info_contact
    width 80%
