header
  width 100%
  height auto
  position absolute
  top 0
  left 0
  z-index: 3

.logo-header svg
  width 100%
  height auto

.header-wrapper
  width 100%
  height auto
  padding 2vw 0
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-around
  align-items flex-start

.logo-header,.menu-options-desktop,.search-bar
  display flex
  width 33%
  height auto

//LOGO STYLES

.logo-header
  width 25%

//SEARCH BAR STYLES

.search-bar
  width 28%

form,input.header-search
  width 100%

input.header-search
  border none
  border-radius 10px
  padding 8px 6px
  font-size:12px;color:black;
  background-image:url('../../img/search-icon.jpg');
  background-repeat:no-repeat;
  background-position:right center;outline:0;

//MENU OPTIONS STYLES

.menu-options-desktop
  width 33%

.menu-options-mobile,.menu-icon
  display none
  transition: .3s

.close-icon
  transform: rotate(0deg);
.open-icon
  transform: rotate(-90deg);

.menu-options-mobile
  width 100%
  transition .4s

.active-menu
  height 190px
  z-index 2

.hidden-menu
  height 0px
  z-index -2
  opacity 0

ul.menu-list
  width 100%
  display flex
  flex-direction row
  justify-content space-between
  padding 0
  margin 0

li.option-item
  display inline
  margin: 6px 0 9px 0;
  transition:.1s;

li.option-item a
  display inline
  transition: .3s
  text-decoration: none
  font-size 18px

.menu-icon
  width auto
  text-align center
  font-size 65px
  height 90px
  color #fff
  cursor pointer
  -webkit-user-select:none;
  -moz-user-select: none
  -ms-user-select:none;
  user-select:none;

.search-bar, .menu-options-desktop
  margin-top: 1%;

//MEDIA QUERIES
@media(min-width 1680px)
  li.option-item a
    font-size 22px

@media(max-width 1440px)
  li.option-item a
    font-size 20px

@media(max-width 1366px)
  li.option-item a
    font-size 18px

@media(min-width 1000px)

  li.option-item:hover
    border-bottom: 3px solid #fff
    transition: border-width 0.1s ease-in-out;

  a.selected
    border-bottom: 3px solid #fff

@media(max-width 1000px)
  .menu-options-desktop
    display none

  .menu-icon,.menu-options-mobile
    display block

  .menu-icon
    font-size: 55px

  .show-item
    z-index: 5
  .hidden-item
    z-index: -9

  .search-bar
    width 95%
    padding 2vw 0

  input.header-search
    padding 10px 6px

  .logo-header
    width 75%

  ul.menu-list
    flex-direction column
    text-align center
    margin 10px 0

  li.option-item
    margin 5px 0
    font-size 20px

@media(max-width 768px)
  .logo-header svg
    width 95%

  .menu-icon
    height 86px

  input.header-search
    padding 8px 6px

  .menu-icon
    font-size: 46px

@media(max-width 640px)
  li.option-item a
    font-size 16px

  .logo-header svg
    width 85%

  .menu-icon
    font-size 55px

  .menu-icon
    height 77px

  input.header-search
    padding 7px 6px

  .menu-icon
    font-size: 38px

@media(max-width 480px)
  .menu-icon
    font-size 46px

  .logo-header svg
    width 75%

  .menu-icon
    height 69px

  input.header-search
    padding 6px 6px

  .menu-icon
    font-size: 32px

  .header-wrapper
    height: 40px

@media(max-width 320px)
  li.option-item a
    font-size 14px

  .logo-header svg
    width 65%

  .menu-icon
    height 49px
    font-size: 28px
