.top-banner
  position: relative;
  height 47vw
  display flex
  justify-content center
  align-items center
  z-index: 2

.home-banner
  background:url("../img/banner-1-01.png") no-repeat center top fixed
  background-size cover

.equipment-banner,.contact-banner,.productos-banner,.cotizador-banner
  background:url("../img/banner-2-01.png") no-repeat center top fixed
  background-size contain

.top-banner.banner-medium
  height: 30vw

.scroll-down
  position absolute
  bottom 5%
  left 50%
  color #fff
  font-size: 25px
  cursor pointer
  transition: .3s

.title-banner
  color white
  font-size 48px
  font-weight 100
  transition .3s
  text-align center

.home-content
  width 100%
  height auto

.home-wrapper,.home-mid
  width 70%
  height auto
  padding 3.5vw 0
  margin 0 auto
  margin-bottom 4vw
  display flex
  flex-direction row
  justify-content space-between
  align-items flex-start
  border-bottom: 2px solid #001c88

.home-mid
  flex-direction: column;
  border-bottom: none;

.wrapper-leftside, .wrapper-rightside
  width 48%
  margin: 0 1%;

.wrapper-rightside
  text-align center

.wrapper-rightside img
  max-width: 100%

.img-logo
  width 225px
  margin 0 auto

.text-info p
  color #001c88
  text-align: justify;

.logo-boxes-wrapper
  width 100%
  height auto
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
  align-items center

.subtitle-mid
  width: 100%

span.subtitle-mid-info
  font-size: 32px;
  color: #001c88;
  font-weight: 400;

.logo-box
  text-align: center;
  margin 2vw 0

.logo-box:nth-child(-n+4)
  width 25%

.logo-box:nth-child(5),.logo-box:nth-child(6),.logo-box:nth-child(7)
  width: 33%

@media(max-width 1280px)
  .top-banner
    height 48vw

  .top-banner.banner-medium
    height: 32vw

  .home-wrapper,.home-mid
    width 85%

@media(max-width 1024px)
  .home-wrapper,.home-mid
    width 90%

@media(min-width 1000px)
  .scroll-down:hover
    color #001c88

@media(max-width 1000px)
  .top-banner
    height 62vw

  .top-banner.banner-medium
    height: 58vw

  .home-wrapper,.home-mid
    flex-direction column

  .wrapper-leftside, .wrapper-rightside
    width: 100%
    margin 0 auto

  .active-title
    opacity 1
  .hidden-title
    opacity 0

  .subtitle-mid
    text-align: center;

  .logo-boxes-wrapper
    justify-content: space-around;

  .logo-box:nth-child(-n+4)
    width 33%

  div.img-logo
    height: 100px

@media(max-width 768px)
  .top-banner
    height 65vw

  .top-banner.banner-medium
    height: 60vw

  .title-banner
    font-size: 42px

  .logo-boxes-wrapper
    justify-content: space-around;

  .top-banner
    background:url("../img/banner-1-01.png") no-repeat center top fixed
    background-size none


@media(max-width 640px)
  .top-banner
    height 75vw

  .top-banner.banner-medium
    height: 70vw

  .title-banner
    font-size: 38px

@media(max-width 480px)
  .top-banner
    height 100vw

  .top-banner.banner-medium
    height:90vw

  .title-banner
    font-size: 28px

  .logo-box:nth-child(-n+4),.logo-box:nth-child(5),.logo-box:nth-child(6),.logo-box:nth-child(7)
    width 35%

  span.subtitle-mid-info
    font-size: 28px

  span.icon-scroll
    font-size: 20px

  .logo-box img
    max-width: 115%

  .logo-box
    margin 3vw 0

@media(max-width 320px)
  .top-banner
    height 105vw

  .top-banner.banner-medium
    height: 100vw

  .title-banner
    font-size: 24px

  .logo-box:nth-child(-n+4),.logo-box:nth-child(5),.logo-box:nth-child(6),.logo-box:nth-child(7)
    width 100%
    margin 4vw 0
