@import 'normalize.css'
@import 'header'
@import 'home'
@import 'footer'
@import 'button-jacome'
@import 'contacto'
@import 'slider'
@import 'products'
@import 'product-item'
@import 'equipos'

*
  -webkit-tap-highlight-color: rgba(0,0,0,0);

body
  font-size 16px
  background-color #fff
  overflow-x hidden

html
  overflow-x hidden

a
  text-decoration none
  color #fff

ul
  padding: 0
  margin 0

a:visited
  color white

ul
  list-style-type none

::-webkit-scrollbar
  display: none;
