.product-wrapper
  width 100%
  height auto
  position relative
  display flex
  flex-direction row
  padding: 0
  margin: 0

.categories-list-wrapper
  position relative
  width 30%
  left 0
  top 0
  margin-right: auto;

span.category-name-title
  color: #fff

.products-slide
  width 70%
  right 0
  top: 0
  margin-left: auto;

ul
  &.categories-list
    width 100%
    height auto

span
  &.category-name-title
    margin-left 35px

.category-name
  position relative
  background #001c88
  padding 0
  cursor pointer
  margin 0
  height 60px
  display flex
  align-items center
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

li.sub-item
  transition .3s
  color #fff
  text-align center
  cursor: pointer;
  background-color: rgb(128,128,128)

li.sub-item:hover
  background-color: rgb(47,79,79)

.show-category
  height 25px;
  padding 10px 0;

span.icon-category
  position absolute
  right 8%
  color #fff
  transition: .3s
  top 35%

span.icon-category.downside-icon:after
  content "▼"

span.icon-category.upside-icon:after
  content "▲"

.hide-category
  height 0
  padding 0
  opacity 0

@media(min-width 1001px)
  .category-name:hover
    background-color: #001CB9
@media(max-width 1000px)
  li.sub-item a
    margin 5px
  .category-name
    padding: 0 5px
  .product-wrapper
    flex-direction column

  li.category-item:last-child
    width: 30%;

  span.category-name-title
    margin-left 0px
    font-size: 10px

  .category-name
    justify-content: space-around;

  .categories-list-wrapper,.products-slide
    width 100%

  .categories-list-wrapper
    position: absolute;

  .products-slide
    margin-top: 50px

  .quien-top
    padding: 5vw 0

  span.icon-category
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 10px

  ul.categories-list
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;

  li.category-item
    width 23.5%
    height: auto
    position relative
    display: inline-table

  ul.sub-list
    width 100%
    z-index 3
    position: relative;
    bottom: 0

  li.sub-item
    font-size: 12px

@media(max-width 480px)
  li.sub-item a
    margin 10px
  .category-name
    padding: 0 10px
